<div class="container">
    <div class="row">
        <h1>Detalle de compra</h1>
    </div>
    <div class="row">
    <div class="container">
    <div class="row">
        <table class="table" >
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Imagen</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let x of carrito ">
                    <td> {{x.nombre}} </td>
                    <td> <img src="{{x.img}}" alt=""  class="img-fluid" style="max-width: 300px;"> </td>
                    <td> {{x.precio | currency:'CLP'}} </td>
                   
                </tr>
                <tr>
                    <th colspan="2"> Total :</th>
                    <th>{{Ontotal()}} {{total|currency:'CLP'}} </th>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="row">
        <h1>Datos entrega</h1>
        <ul *ngFor="let x of direccion">
            <li >
                {{x}}
            </li>
        </ul>
    </div>
    <br>
    <br>
    <div class="row">
        <button (click)="principal()" class="btn btn-success" > Volver inicio</button>
    </div>
    <br>
    <br>
</div>
</div>
